@model IEnumerable<Question_Paper_Management.Models.User>

@{
    ViewBag.Title = "Index";
}

<center class="container my-3 ">
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
    </p>

    <div class="row">
        <div class="col-md-12">
            @foreach (var item in Model)
            {
                <div class="card mb-3 text-center">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Username)</h5>
                        <div class="card-text">
                            <strong>Email:</strong> @Html.DisplayFor(modelItem => item.Email)
                        </div>
                        <div class="card-text">
                            <strong>Role:</strong> @Html.DisplayFor(modelItem => item.Role)
                        </div>
                        <div class="btn-group" role="group">
                            @Html.ActionLink("Edit", "Edit", new { id = item.UserID }, new { @class = "btn btn-primary  me-2" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.UserID }, new { @class = "btn btn-danger" })
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</center>
